---
import { Image } from "astro:assets"

const {orientation, imgSrc} = Astro.props
---

<div class="self-stretch mt-8 max-md:max-w-full">
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div class:list={[
                "flex flex-col items-stretch w-6/12 max-md:w-full max-md:ml-0",
                {"md:order-last": orientation === "right"},
             ]}>
            <Image src={imgSrc} alt="card image" class="h-full"/>
        </div>
        <div class="flex flex-col items-stretch w-6/12 ml-5 max-md:w-full max-md:ml-0">
            <div class="justify-center flex flex-col my-auto items-start max-md:max-w-full max-md:mt-10">
                <div class="text-neutral-600 text-justify text-3xl self-stretch max-md:max-w-full">
                    <slot name="title"/>
                </div>
                <div class="text-neutral-600 text-xl self-stretch mt-5 max-md:max-w-full">
                    <slot name="description"/>
                </div>
                <div class="text-white text-center text-base leading-4 whitespace-nowrap justify-center items-stretch content-center flex-wrap bg-teal-800 mt-5 px-5 py-2.5 rounded-[35px]">
                    <slot name="button">узнать больше</slot>
                </div>
            </div>
        </div>
    </div>
</div>