---
---

<div class="grid grid-cols-1 my-4 border-2 rounded-2xl p-2">
    <div class="flex justify-center">
        <slot name="title" />
    </div>
    <div class="text-center mt-2">
        <slot name="text" />
    </div>
</div>