---
import { Image } from 'astro:assets';
import facebook from '../assets/icons/facebook.svg';
import instagram from '../assets/icons/instagram.svg';
import telegram from '../assets/icons/telegram.svg';
---
<div class="text-black text-center text-3xl font-bold self-center w-full mt-24 max-md:mt-10">
  Свяжитесь с нами
</div>
<div class="text-neutral-600 text-center text-xl self-center w-full mt-2.5 max-md:max-w-full">
  Будем рады видеть вас в наших социальных сетях
</div>
<div class="flex justify-center mt-24 gap-4">
  <a href="https://t.me/dzaglik_batumi" target="_blank">
    <Image src={telegram} alt="telegram icon" />
  </a>
  <Image src={facebook} alt="facebook icon" />
  <a href="https://www.instagram.com/dzaglik.batumi/" target="_blank">
    <Image src={instagram} alt="instagram icon" />
  </a>
</div>
<div class="text-neutral-600 text-center text-xl self-center w-full mt-24 max-md:mt-10">
  2023 (с) — Все права защищены
</div>